<!doctype html>
<html>
  <head>
    <title>Turo Qualification Car Search App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/javascript/controllers/TuroSearch.js"></script>
    <script>
      jQuery(document)
        .ready(function($) {
          $('#start').datepicker({ minDate: 0, maxDate: '+329D' });
          $('#end').datepicker({ minDate: 0, maxDate: '+330D' });
          $('#dest').autocomplete({
            source: [],
            minLength: 3
          });
        });
    </script>
  </head>
  <body ng-app="TuroSearchApp">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"></div>
    </nav>
    <div class="container">
      <div ng-controller="TuroSearchController">
        <div id="search-filters" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
          <h3>Search Rentals</h3>
          <form ng-submit="updateResults()">
            <div class="input-group">
              <input ng-model="dest" id="dest" name="dest" ng-change="updateDestinationSources()" class="form-control" placeholder="Enter address, zip, city, or airport" />
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="pickup-addon">Pickup</span>
              <input ng-model="start" ng-change="setMinEnd()" name="start" class="form-control" aria-describedby="pickup-addon" ng-pattern="/^[0-9]{2}/[0-9]{2}/[0-9]{4}$/" id="start" placeholder="Start Date" datepicker />
              <select ng-model="pickup" name="pickup">
                <option ng-repeat="time in timeOptions" value="{{time.val}}">{{time.display}}</option>
              </select>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="dropoff-addon">Dropoff</span>
              <input ng-model="end" name="end" class="form-control" aria-describedby="dropoff-addon" ng-pattern="/^[0-9]{2}/[0-9]{2}/[0-9]{4}$/" id="end" placeholder="End Date" datepicker />
              <select ng-model="dropoff" name="dropoff">
                <option ng-repeat="time in timeOptions" value="{{time.val}}">{{time.display}}</option>
              </select>
            </div>
            <div class="input-group">
              <button ng-disabled="!validateParams()" class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span> Search
              </input>
            </div>
          </form>
        </div>
        <div id="search-results row">
          <div ng-repeat="result in searchResults" class="car col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="header">
              <h4 class="name">{{result.CarType.CarTypeName}}</h4>
              <div class="models">{{result.CarType.PossibleModels}}</div>
            </div>
            <div class="mileage">Mileage: {{result.MileageDescription}}</div>
            <div class="location">{{result.LocationDescription}}</div>
            <div class="seating">Seats: {{result.CarType.TypicalSeating}}</div>
            <div class="img {{result.CarTypeCode}}">&nbsp;</div>
            <div class="pricing">
              <div class="daily-rate">{{result.DailyRate | currency}} per day</div>
              <div class="total-price">{{result.TotalPrice | currency}} total</div>
            </div>
            <a href="{{result.DeepLink}}" class="deep-link">Continue</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal"></div>
    <div id="error-message" title="Error">There was an error with your request. Please try again later.</div>
  </body>
</html>
